@import "src/assets/main.css";
@import "src/assets/colors.css";

.statistics {
    h2, p {
        color: #ffffff;
        font-family: "Bahnschrift", sans-serif;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    }
    h2 {
        font-size: 1.9rem;
    }
    p{
        font-size: 1.4rem;
    }
}

.background {
    background: #000000;
    background-size: cover;
    background-position: center;
    width: 700px;
    display: flex;
    flex-direction: column;
    height: 1000px;
}


.main {
    margin-left: 30px;
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.statistics {
    text-align: left;
}

.information {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    flex: 2;

    h1 {
        font-family: "Bahnschrift", sans-serif;
        color: white;
    }

    background-color: rgba(0, 0, 0, 0.73);
}

.cube {
    width: 1rem;
    rotate: 45deg;
    margin-right:10px;
    height: 1rem;
}

.level {
    align-items: center;
    display: flex;
    flex-direction: row;

    h2 {
        margin: 0;
    }
}

.from {
    p {
        display: inline-block;
        background-color: #39bd59;
        color: black;
        font-family: "Bahnschrift", sans-serif;
        padding: 0.25em 0.5em;
        margin-bottom: 0.5rem;
        margin-top: -0.1rem;
    }
}

.top {
    min-height: 6rem;
    max-width: 100%;
    backdrop-filter:  blur(20px) brightness(80%);
    display: flex;
}

.section-1 {
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    flex: 1;
}

.section-4 {
    display: table;
    text-align: center;
    flex: 4;
    h1{
        display: table-cell;
        vertical-align: middle;
        color: white;
    }
}
.wrapper {
    max-width: 540px;
}

.common {
    .cube {
        background: var(--common);
    }
    color:  var(--common);
}

.uncommon {
    .cube {
        background:var(--uncommon);
    }
    color: var(--uncommon);
}

.rare {
    .cube {
        background: var(--rare);
    }
    color: var(--rare);
}

.limited {
    .cube {
        background: var(--limited);
    }
    color:  var(--limited);
}
