.gallery {
    display: flex;
    gap: 16px;
    max-width: 100%;
    flex-wrap: wrap;
    overflow: auto;
    padding: 16px;
    max-height: 90%;
}

.card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    width: 250px;
    max-height: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    background-color: #000;
    justify-content: center;
    display: flex;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.name-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    padding-left: 50px;
    color: white;
    font-family: "Bahnschrift", sans-serif;
}

.name-bar h3 {
    margin: 0;
    font-size: 0.95rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: "Bahnschrift", sans-serif;
}

.card:hover .overlay {
    opacity: 1;
}

.link{
    text-decoration: none;
    color: #fff;
    background-color: #2d8a29;
    margin: 5px 10px;
    padding: 10px;
}

.overlay p {
    font-size: 0.85rem;
    margin: 0 0 6px 0;
}

.rarity {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
}
.card-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.group-title {
    font-size: 1.5rem;
    color: #d4e7a9;
    margin: 1rem 0;
}
