:root{
  --background: #587958;
  --text: rgb(218, 196, 196)
}
@font-face {
  font-family: 'GSans';
  src: url('/src/assets/GoogleSans-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: 'NotoSans';
  src: url('/src/assets/NotoSansSC-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Bahnschrift";
  src: url("/src/assets/bahnschrift.ttf");
}
* {
  font-family: 'Inter', 'NotoSans', serif;
}
